@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url('https://images.pexels.com/photos/6775241/pexels-photo-6775241.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}